<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f2f2f2;
        }

        .login-container {
            max-width: 500px;
            margin: 0 auto;
            padding: 40px;
            margin-top: 100px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
        }

        .login-container h2 {
                text-align: center;
                margin-bottom: 30px;
            }

        .login-container form {
                animation: fadeIn 1s;
            }
    </style>
</head>
<body>
    <div class="container login-container">
        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "d-flex" }))
        {
            <div class="form-group mb-1">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="Username" placeholder="Enter username">
            </div>
            <div class="form-group  mb-1">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="Password" placeholder="Enter password">
            </div>
            <input type="submit" name="submit" class="btn btn-primary form-control" value="Login" />

            <div class="modal fade" tabindex="-1" id="modal" data-keyboard="false" data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <input value="Okay" name="okay" type="submit" id="btnConfirmModal" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="selectedId" />
            <input type="hidden" name="actionChoice" />
        }
    </div>

    <script>
        var loggedIn = @((TempData["Login"] != null).ToString().ToLower())

        if (loggedIn) {
            window.onload = () => {
                showLoggedInModal();
            }
        }

        const modal = document.getElementById("modal");

        function closeModal() {
            $("#modal").modal('hide');
            modal.style.display = none;
            $(".modal.backdrop").hide();
        }

        function showLoggedInModal() {
            $("#modal").find(".modal-title").html('Logged in!');
            $("#modal").find(".modal-body").html('');
            $("#modal").find(".modal-body").html('You are now logged in!');
            $("#btnConfirmModal").val('Okay');

            modal.style.display = "block";
            $(".modal-backdrop").show();
            $("#modal").modal('show');
            $("#modal").modal({ backdrop: 'static', keyboard: false })
        }
    </script>
</body>
</html>